:root {
    --bg-fondo: #F3F5FC;
    --bg-blanco: #FFF;
    --bg-negro: #000;
    --bg-texto: #0A3871;
    --bg-btn-primario: #0A3871;
    --bg-btn-secundario: #D8DFE8;
    --bgn-btn-hover: #fff;

    --h-footer:10rem;
}

*,
::after,
::before {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-fondo);
    max-width: 1320px;
    margin: auto;
    margin-top: 2.5rem;
    /* display: flex; */
}

.contenedor-principal {
    width: 100%;
    min-height: calc(100vh - var(--h-footer));
    display: flex;
}

header {
    padding: 0 1rem;
    font-size: 1.8rem;
}

header .logo {
    font-size: 3em;
    color: var(--bg-texto)
}

main {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    font-size: 1rem;
}

main section {
    padding: 0 1rem;
    border-radius: 50%;
    /* height: 100%; */
}

.txt {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    resize: none;
    background-color: transparent;
    border: solid transparent;
    border-width: 0;
    outline: none;
}

.btn {
    display: inline-block;
    padding: 0.45rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bg-texto);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid var(--bg-btn-primario);
    border-radius: 1rem;
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn:hover{
    transform: translateY(-1px) !important;
}
.btn-primario{
    background-color: #0A3871;
    color: #FFF;
    border-color: #0A3871;
    box-shadow: 0 .125rem .25rem 0 #0A3871;
}
.btn-secundario{
    background-color: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
    box-shadow: 0 .125rem .25rem 0 #D8DFE8
}
.btn-primario:hover{
    background-color: #1a5aa8;
    border-color: #1a5aa8;
}
.btn-secundario:hover{
    background-color: #accbfb;
    color: #021022;
    border-color: #0A3871;
}

main section.entrada {
    width: 60%;
    height: 100% ;
}

.entrada .texto {
    height: calc(100% - 83.4px);
}
.entrada .texto .txt, .entrada .texto .txt::placeholder{
    font-size: 1.5em;
    color: hsl(213, 84%, 24%);
}

.entrada .contenedor-botones .alerta{
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
.entrada .contenedor-botones .alerta p{
    padding-left: 5px;
    font-size: .9rem;

}
.contenedor-botones .botones{
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
}
.contenedor-botones .botones .btn{
    width: 100%;
    margin: 0 1rem;
    padding: .7rem;
}

main section.salida {
    width: 40%;
    /* height: 100%; */
    padding: 1rem;
    background-color: var(--bg-blanco);
    box-shadow: 0 0 5px #00000037;
    border-radius: 1rem;
}
section.salida .contenedor-mensaje{
    height: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

section.salida .contenedor-mensaje img{
    max-width: 300px;
    margin: auto;
}

section.salida .contenedor-mensaje h3, section.salida .contenedor-mensaje p{
    padding: 5px 0;
    text-align: center;
}

.salida .contenedor-salida{
    height: 100%;
    flex-direction: column;
}

.salida .contenedor-salida .texto{
    height: calc(100% - 55.6px);
    padding: 1rem;
}
.contenedor-salida .texto .txt{
    font-size: 1.5rem;
    overflow:  hidden;
    resize: none;
    height: auto;
}
.salida .contenedor-salida .boton .btn{
    margin-top: 10px;
    width: 100%;
    padding: .7rem;
}

.salida .contenedor-salida .boton .btn:hover{
    background: #0a387113;
}

footer{
    padding: 1rem;
    text-align: center;
}

.mostrar{
    display: flex ;
}

.ocultar {
    display: none;
}

@media (max-width: 992px){
    section.salida .contenedor-mensaje img{
        width: 100%;
    }
}

/* medida pc */
@media (max-width: 1200px){
    body{
        width: 100%;
        padding: 2rem;
    }
}

 /* medida tabled */
@media (max-width: 768px){
    .contenedor-principal{
        margin-top: -3rem;
        flex-direction: column;
    }
    section.salida .contenedor-mensaje img{
        display: none;
    }
    main{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    main section {
        width: 100% !important;
        margin-bottom: 1rem;
    }
    section.salida {
        padding: 3rem;
    }
}

/* medida movil */
@media ( max-width: 576px) {
    .entrada .texto {
        height: calc(100% - 135px);
    }
    .contenedor-botones .botones{
        flex-direction: column;
    }
    .contenedor-botones .botones .btn{
        margin: .3rem 0;
    }
}